@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;500&family=Cormorant:ital,wght@0,300;1,500&family=Dancing+Script&family=El+Messiri&family=Playfair+Display&family=Roboto:wght@100&display=swap');
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-button {
    height: 220px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(228, 197, 60, 0.76);
    border-radius: 50px;
  }
.listTask{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
    background-color: white ;
    border-radius: 50px;
    box-shadow: 0 0 5px 5px rgba(118, 118, 121, 0.335);
    padding-top: 2%;
    overflow-y: scroll;
}
.listTask h1{
    color: rgba(228, 197, 60, 0.76);
    font-size: 35px;
    font-family: 'Cairo', sans-serif;
    text-decoration: underline;
    font-weight: normal;
}
.listTaskContent{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.btnAdd{
    background-color: transparent !important;
    border: transparent !important;
    color: #1d1d1d !important;
    font-size: 20px;
}
.btnAdd:focus{
    border: none !important;
}
.btnAdd svg{
    margin-left: 8px;
}
.modal{
    display: flex !important;
    flex-direction: column !important;
}
.btnAdd{
    margin-top: 5%;
    width: 150px;
    margin-left: auto;
    margin-right: auto;   
}
.editBtn{
    border: 1px solid rgba(228, 197, 60, 0.76) !important;
    color: white !important;
    background-color: rgba(228, 197, 60, 0.76) !important;
    border-radius: 5px !important;
    width: 120px !important;
    height: 40px;
    margin-top: 2% !important;
}
button{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 3% !important;
    border: 1px solid rgba(228, 197, 60, 0.76);
    color: white;
    background-color: rgba(228, 197, 60, 0.76);
    border-radius: 5px !important;
    width: 90px;
    margin-top: 2% !important;
}
.doneBtn svg, .editBtn svg .deleteBtn svg{
    margin-left: 5% !important;
}
.btnbtn button, Button .btnbtn {
    border: rgba(228, 197, 60, 0.76) !important;
    background-color: rgba(228, 197, 60, 0.76) !important;
    color: white !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}
.btnbtn{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.btns{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.btnbtn h2{
    font-size: 20px;
    font-weight: normal;
    color: rgb(38, 39, 39);
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}